<div class="row" ng-controller="ProjectCtrl">
	<ul class="thumbnails project-thumbnails" id='fav'>
		<h1>Favorite Projects</h1>
		<hr/>
		<li ng-repeat="proj in projects" class="span4 pagination-centered" ng-class = "getClass(proj.id)" ng-init = "include = favorite(proj.id)" ng-switch on="include" ng-show = "include" id = "fav_{{proj.id}}">
			
			<div class="thumbnail project-thumbnail" ng-switch-when="true">

				<div class='span2 owner-pic'><img src = "{{proj.owner.avatar_url}}" class = "img-rounded" style = 'width:100px' alt = 'Owner' />
				</div>
				<div ng-init="person = getdata(proj);" class = "span2 collaborator-pics" >
					<h3 class='project-title'><a>{{trim(proj.name)}}</a></h3>
					{{getdataofdata(person,proj.name)}}
					<div ng-class="getId(proj.name)" data-count ="false">

					</div>
				</div>
				<div class='span3 pagination-centered' ng-controller="MilestoneCtrl">
					<div class="progress progress-success  active" id='project-data' ng-init = "milestones = fetchmilestone(proj) ">
						<a href='javascript:;' ng-click="onSelect(proj.owner.login,proj.name)">
						<div class="bar" id='bar-<%= project[:id] %>' style="width: {{health(milestones)}}%;">
							<p>
								{{health(milestones)}}%
							</p>
						</div></a>
					</div>
				</div>
				<br/>

				<div>

					<a href='javascript:;' ng-click="onSelect(proj.owner.login,proj.name)" class='btn btn-warning' id='mil_{{proj.id}}' >Milestones</a>
					<a href='javascript:;' class='btn unfav' data-id='{{proj.id}}'><i class='icon-eye-close'></i>Not
					Favorite</a>
				</div>
			</div>
		</li>
	</ul>

	<ul class="thumbnails project-thumbnails" id='unfav'>
		<h1>Other Projects</h1>
		<hr/>
		<li ng-repeat="proj in projects" class="span4 pagination-centered"  ng-class = "getClass(proj.id)" ng-init = "include = favorite(proj.id)" ng-switch on="include" ng-hide = "include" id = "unfav_{{proj.id}}">
			<div class="thumbnail project-thumbnail">

				<div class='span2 owner-pic'><img src = "{{proj.owner.avatar_url}}" class = "img-rounded" style = 'width:100px' alt = 'Owner' />
				</div>
				<div ng-init="person = getdata(proj);" class = "span2 collaborator-pics" >
					<h3 class='project-title'><a>{{trim(proj.name)}}</a></h3>
					{{getdataofdata(person,proj.name)}}
					<div ng-class="getId(proj.name)" data-count ="false">

					</div>
				</div>
				<div class='span3 pagination-centered' ng-controller="MilestoneCtrl">
					<div class="progress progress-success  active" id='project-data' ng-init = "milestones = fetchmilestone(proj) ">
						<a href='javascript:;' ng-click="onSelect(proj.owner.login,proj.name)">
						<div class="bar" id='bar-<%= project[:id] %>' style="width: {{health(milestones)}}%;">
							<p>
								{{health(milestones,proj.id)}}%
							</p>
						</div></a>
					</div>
				</div>
				<br/>

				<div>

					<a href='javascript:;' class='btn btn-warning'  ng-click="onSelect(proj.owner.login,proj.name)" id='mil_{{proj.id}}' >Milestones</a>
					<a href='javascript:;' class='btn fav' data-id='{{proj.id}}'><i class='icon-eye-open'></i> Favorite</a>
				</div>
			</div>
		</li>
	</ul>

	
</div >

