<html lang="en" ng-app="reportingManagerApp" ng-csp>
	<head>
		<meta charset="utf-8">
		<title>Reporting Manager</title>
		<script src="js/superagent.min.js"></script>
		<script src="js/octo.min.js"></script>
		<link rel="stylesheet" href="css/app.css"/>
		<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="lib/bootstrap/css/bootstrap-responsive.min.css"/>
		<link rel="stylesheet" href="css/parallax/styles.css"/>

	</head>
	<body ng-controller="UserCtrl">

		<div class="navbar">
			<div class="navbar-inner">
				<a class="brand" href="index.html">Reporting Manager</a>

				<ul class="nav pull-right" ng-switch on="checkUser()">
					<li class="dropdown"  ng-switch-when="no">
						<a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign In <strong class="caret"></strong></a>
						<div class="dropdown-menu navbar-inner" style="padding: 15px; padding-bottom: 0px;" >
							<h2>Login</h2>
							<form class="form-horizontal" ng-submit="saveGithubUser()" name = "login">
								<fieldset>
									<div class="clearfix">
										<input ng-model="github_username" type="text" name="github_username" placeholder="Github user name" title="Add your Github user name here to get information about your projects" required>
									</div></br>
									<div class="clearfix">
										<input ng-model="password" type="password" name="github_password" placeholder="Github password (optional)" title="We need your password to access your private repositories. We don't save the password. Instead we would exchange it with a secure token from Github and would use it for accessing your private information. This gives you the power to revoke access to our application from your Github settings.">
									</div></br>
									<button type="submit" class="btn">
										Fetch Projects
									</button>
								</fieldset>
							</form>
						</div>
					</li>
					
					
					<li ng-switch-when="yes" class="dropdown" ng-init = "login = getUser()">
						<a class="dropdown-toggle" href="#" data-toggle="dropdown">Login by : {{login}} <strong class="caret"></strong></a>
						<div class="dropdown-menu " style="padding: 2px; padding-bottom: 38px; height: 18px; background-color: #AD1D28; "  >
							<a href="https://github.com/{{login}}" style="color: white;"><i class="icon-off"></i> Open Github </a>
							<a href="" ng-click="removeGithubUser()" style="color: white;"><i class="icon-off"></i> Switch user</a>
						</div>
						
					</li>
				</ul>
			</div>
		</div>

		<div class="container" ng-view></div>
		<hr>
		<footer>
			<div class="pagination-centered" style="padding-bottom: 25px;">
				<h3>Rumble Rumble!</h3>
				<a herf = 'http://railsrumble.com/entries/212-red-indians'> <img src = "img/rr-logo-small.png" ></a>
			</div>
			<div>
				<ul class="breadcrumb pagination-centered">
					<li>
						Meet the team
						<span class="divider">|</span>
					</li>
					<li>
						Github for Project Management
					</li>
				</ul>
			</div>
		</footer>

		<!-- In production use:
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
		-->

		<script src="lib/angular/angular.min.js"></script>
		<script src="lib/angular/angular-resource.min.js"></script>
		<script src="lib/jquery.min.js"></script>
		<script src="lib/jquery.event.frame.js"></script>
		<script src="lib/jquery.jparallax.min.js"></script>
		<script src="lib/underscore-min.js"></script>
		<script src="lib/bootstrap/js/bootstrap.min.js"></script>
		<script src="js/app.js"></script>
		<script src="js/services.js"></script>
		<script src="js/controllers.js"></script>
		<script src="js/filters.js"></script>
		<script src="js/directives.js"></script>
		<script src="lib/parallax.js"></script>

	</body>
</html>
