<!doctype html>
<html lang="en" ng-app="reportingManagerApp" ng-csp>
<head>
  <meta charset="utf-8">
  <title>Reporting Manager</title>
  <link rel="stylesheet" href="css/app.css"/>
  <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="lib/bootstrap/css/bootstrap-responsive.min.css"/>
</head>
<body ng-controller="UserCtrl">
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="index.html">Reporting Manager</a>

    <ul class="nav pull-right">
      <li>
        <form class="navbar-form" ng-submit="saveGithubUser()">
          <input ng-model="github_username" type="text" name="github_username" placeholder="Github user name"
                 title="Add your Github user name here to get information about your projects" required>
          <input ng-model="password" type="password" name="github-password" placeholder="Github password (optional)"
                 title="We need your password to access your private repositories. We don't save the password. Instead we would exchange it with a secure token from Github and would use it for accessing your private information. This gives you the power to revoke access to our application from your Github settings.">
          <button type="submit" class="btn">Fetch Projects</button>
        </form>
      </li>
    </ul>
  </div>
</div>

<div class="container-fluid" ng-view></div>

<div class="muted">&copy; 2012-13</div>

<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
-->
<script src="lib/angular/angular.min.js"></script>
<script src="lib/angular/angular-resource.min.js"></script>
<script src="lib/jquery.min.js"></script>
<script src="/app/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="js/app.js"></script>
<script src="js/services.js"></script>
<script src="js/controllers.js"></script>
<script src="js/filters.js"></script>
<script src="js/directives.js"></script>
</body>
</html>
